@{
    ViewData["Title"] = "Home Page";
}

<img src="~/Images/coffee.png" />
<h1 class="heading">Welcome to the Coffee Cult!</h1>
@Html.ActionLink("Register Here", "Register", null, null, new { @class = "reglink" });


