
@{
    ViewData["Title"] = "RegisterResponse";
}

<h1 class="heading2">Thank you for joining!</h1>

<p class="p">Welcome to our Coffee Cult, @ViewData["FN"] @ViewData["LN"]! <br />
    @ViewData["EM"] will be your username.
    </p>

